<p>add-cv works!</p>
<form [formGroup]="form">
  Name:
  <input type="text" class="form-control"
  formControlName="name" />
  <!-- <div
    *ngIf="form.get('name')?.errors && form.get('name')?.touched"
    class="alert alert-danger"
  >
    Ce champ est obligatoire
  </div> -->
  Firstname:
  <input type="text" class="form-control" formControlName="firstname" /> Age:
  <input type="text" class="form-control" formControlName="age" /> Cin:
  <input type="text" class="form-control" formControlName="cin" />
  <div
    *ngIf="
      cin.errors && cin.errors['champUnique'] && cin?.touched
    "
    class="alert alert-danger"
  >
    {{cin.errors['champUnique']}}
  </div>
  Job: <input type="text" class="form-control" formControlName="job" /> Path:
  <input type="text" class="form-control" formControlName="path" />

  <div *ngIf="
        form.errors && form.errors['ageCin'] && cin?.touched && age?.touched
      " class="alert alert-danger">
    {{form.errors['ageCin']}}
  </div>
  <button [disabled]="form.invalid" class="btn btn-primary" (click)="addCv()">
    add cv
  </button>
</form>

