<app-todo />

<!-- <div class="alert alert-danger">Hello AXYUS <i class="bi bi-emoji-smile-upside-down"></i></div>

<button class="btn btn-primary">
  test
</button>
<p>test color</p>
<!-- appFirst() -->
<!-- <div class="alert alert-warning">
  <app-first />
</div>
<div class="alert alert-warning">
  <app-first />
</div>
<div class="alert alert-info">
  <app-second />
</div> -->
<!-- je veux une div dans laquelle j'ai un ol avec quelques li (5) -->

<!-- <div>
  <ol>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
  </ol>
</div> -->
